 <ifmodule mod_rewrite.c>
    RewriteEngine On
    
    RewriteRule ^news$ /index.php?type=news [L]
    RewriteRule ^reg /index.php?type=reg [L]
    RewriteRule ^login /index.php?type=login [L]
  </ifmodule>